# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Env files (secrets)
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/

# OS junk
.DS_Store

# Logs, temp
*.log
*.tmp
*.swp

# Build / dist
dist/
build/
*.egg-info/